
.container
  width: 100%
  display: flex
  //align-items: center
  flex-direction: column
  gap: 3rem

  &__arounder
    width: 75%
    display: flex
    flex-direction: column
    gap: 5rem
    align-items: center
    //justify-content: space-between
    & > div
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      gap: 3rem
      & > label
        width: 50rem !important
    button
      align-self: flex-end!important
    img
      max-width: 35rem
      max-height: 25rem
      width: 100%

      border-radius: 3rem


  &__box
    width: 100%
    display: flex
    flex-direction: column
    gap: 1rem
.label
  display: flex
  flex-direction: column
  gap: 1rem
  width: 50%
  font-weight: normal
.labels
  display: flex
  align-items: start
  flex-direction: column
  gap: 1rem
  width: 50%
  font-weight: normal
.input
  max-width: 60rem
  width: 100%
.edit
  margin-top: 14rem
  display: flex
  justify-content: space-between
  width: 100%
  padding: 2rem
  height: 30rem
  background: white
  border-radius: 3rem
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset
  flex-wrap: wrap

.overlay
  display: flex
  width: 100%
  height: 100vh
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0, 0, 0, 0.57)
  overflow: hidden
  align-items: center
  justify-content: center
  font-size: 3rem
  color: white
  font-weight: bold
  font-family: "Monospaced", "serif"
  letter-spacing: .2rem