@import "app/styles/abstracts/variables"

.direction
  padding: 2rem
  display: flex
  flex-direction: column
  gap: 3.5rem

  &__item
    //background-color: #6B7280
    width: fit-content
    font-size: 2rem
    padding: 2rem
    border-radius: 10px
    box-shadow: rgba(175, 158, 158, 0.2) 0px 2px 8px 0px
