@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 10rem;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2rem;
}
.header__hamburger {
  display: none;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style: none;
  font-size: 1.6rem;
}
.header__menu li {
  cursor: pointer;
  transition: 0.3s all;
  padding-bottom: 0.6rem;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header__subMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 10rem;
  left: -200%;
  transition: 1s all;
}
.header__subMenu ul {
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  padding-left: 4rem;
  list-style: none;
  font-size: 1.8rem;
  background-color: #FFFFFF;
  gap: 2rem;
  color: #6B7280;
  display: flex;
  flex-direction: column;
}
.header__subMenu ul li {
  cursor: pointer;
  font-family: "Inter", serif;
  font-weight: bold;
}
.header .header__activeMenu {
  left: 0;
}
.header__end {
  display: flex;
  gap: 2rem;
}
.header__end_language {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__end_language_img {
  width: 3rem;
  height: 3rem;
}
.header__end_language_img img {
  width: 100%;
  height: 100%;
}
.header__end_language_text {
  display: flex;
  gap: 1rem;
  font-family: "Inter", serif;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
}
.header__end_btn {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
  font-size: 1.6rem;
}
.header__end_btn:hover {
  color: white !important;
}
.header .active {
  border-bottom: 2px solid #004AAD;
}
.header .active {
  color: #004AAD;
  transform: scale(1.1);
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header .activeSubmenu {
  background: #004AAD;
  color: white;
  width: 330px;
  border-radius: 1rem;
  margin-left: -10px;
  padding: 1.4rem;
}

.btnPanel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 8rem;
}

.enterBtn {
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(90deg, #0052CC 0%, #003F99 100%);
  font-size: 1.5rem;
  padding: 1rem;
}

@media (max-width: 1100px) {
  .header {
    justify-content: center;
    gap: 2rem;
  }
  .header__menu {
    width: 55%;
    font-size: 1.3rem;
  }
  .header__end {
    gap: 1rem;
  }
  .header__end_language_img {
    width: 2rem;
    height: 2rem;
  }
  .header__end_language_img img {
    width: 100%;
    height: 100%;
  }
  .header__end_language_text {
    font-size: 1.3rem;
  }
}
@media (max-width: 950px) {
  .header {
    gap: 0;
    justify-content: space-between;
  }
  .header__hamburger {
    display: flex;
    font-size: 2rem;
  }
  .header__menu {
    display: none;
  }
}
@media (max-width: 500px) {
  .header .header__end_language {
    display: none;
  }
  .header .header__end_btn {
    width: 6rem;
    font-size: 0.7rem;
    padding: 1rem 0;
  }
}

/*# sourceMappingURL=home.module.css.map */
