.notification
  width: fit-content
  max-width: 34rem
  border: 1px solid #D1D1D6
  border-radius: .8rem
  padding: 1rem 1.5rem
  display: flex
  flex-direction: column
  gap: .7rem
  &__title
    color: #2D2D2D
    font-size: 1.6rem
    display: flex
    align-items: center
    gap: .5rem
  &__text
    font-size: 1.4rem
    color: #929292
  &__date
    font-size: 1.2rem
    color: #2561FA
    align-self: flex-end