.main
  width: 54rem
  height: fit-content
  display: flex
  flex-direction: column
  gap: 2rem
  &__header
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    &__select
      width: 100%

  &__section
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem