@import "app/styles/abstracts/variables"

.advantage
  margin-top: 5rem
  display: flex
  gap: 7rem
  &__content
    display: flex
    flex-direction: column
    justify-content: center
    gap: 4rem
    .btn
      width: fit-content
      border-radius: 5rem
      background: $color-main
      padding: 1.4rem 4rem
      font-size: 2.4rem
      color: white
    .info
      display: flex
      flex-direction: column
      gap: 3rem
      &__title
        color: #514B4B
        font-size: 3.6rem
      &__text
        color: #898989
        font-size: 2.4rem

@media (max-width: 430px)
  .advantage
    margin-top: 0
    border: 1px solid #D1D1D6
    flex-direction: column
    border-radius: 1.2rem
    align-items: center
    padding: 2rem 0
    &__image
      width: 29rem
      height: 17rem
      img
        width: 100%
        height: 100%
        // object-fit: cover
    &__content
      align-items: center
      .btn
        display: none
        background: none
      .info
        align-items: center
        padding: 0 2rem
        &__title
          font-size: 1.8rem
        &__text
          font-size: 1.6rem

